.item__list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item{
    align-items: center;
    display: flex;

    margin-bottom: 1rem;
    
    width: 15rem;
}

.item__icon{
    background-color: var(--mustard);
    border-radius: 50%;
    display: block;
    height: 3.25rem;
    margin-right: 1rem;
    width: 3.25rem;

    background-size: 1.375rem;
    background-repeat:  no-repeat;
    background-position: center;
}

.icon--mouse{
    background-image: url(../../img/icons/mouse.svg);
}

.icon--cart{
    background-image: url(../../img/icons/cart.svg);
}

.icon--truck{
    background-image: url(../../img/icons/truck.svg);
}
